Game filter=lfs diff=lfs merge=lfs -text
Game.exe filter=lfs diff=lfs merge=lfs -text
Electron[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
Game/osx/Game.app/Contents/Frameworks/Electron[[:space:]]Framework.framework/Versions/A/Electron[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
Game/osx/Game.app/Contents/Frameworks/Electron%20Framework.framework/Versions/A/* filter=lfs diff=lfs merge=lfs -text
ElectronFramework filter=lfs diff=lfs merge=lfs -text
